*.pyc
.DS_Store
*.sqlite3
venv/
mySite/home/migrations/
mySite/MCBase/migrations/
mySite/MCCitation/migrations/
mySite/MCDiscussCitation/migrations/
mySite/MCHome/migrations/
mySite/MCPost/migrations/
secret_keys_and_passwords.py
