{% load MCBase_templatetags %}
{% load MCPost_templatetags %}

{% load staticfiles %}
<script src="{% static 'MCPost/js/display_single_post_template.js' %}"></script>
<link rel="stylesheet" href="{% static 'MCPost/css/display_single_post_template.css' %}">

<div id="post-{{ post.pk }}" class="post-wrapper">
  <!-- top bar containing username, points, time posted -->
  <div class="top-box">
    {% if not post.deleted %}
      <span><a class="bold comment-user cursor-pointer" href="{% url 'MCUser:user_profile' post.user.pk %}">{{ post.user.username }}</a></span>
    {% else %}
      <span><a class="bold comment-user cursor-pointer">unknown user</a></span>
    {% endif %}
    <span>&nbsp;</span>

    {% if not post.deleted %}
      <span id="commentscore-pk-{{ post.pk }}" class="comment-score">{{ post.score }}</span><span class="comment-score"> point{{post.score|pluralize}}</span>
      <span class="comment-time" id="comment-time-{{ post.pk }}">
        {{ post.time|age }}
      </span>
    {% endif %}
  </div>

  <!-- middle box containing post content. javascript used to switch between edits -->
  <div class="post-middle-box">
    {% for recent_post in post.deserialize %}
      <div id="comment-text-{{ post.pk }}-{{ forloop.counter }}" class="comment-text comment-target-all-{{ post.pk }} comment-all {% if forloop.last %} comment-last {% endif %}">
        {% if not post.deleted %}
          {{ recent_post.0 | safe}} <!-- text -->
        {% else %}
          <p>[[ this post was deleted ]]</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if not post.deleted %}
    <!-- bottom bar containing reply, edit history -->
    <div class="post-bottom-box">
      <!-- upvote button -->
      <span>
        {% if user.is_authenticated %}
          <input type="hidden" name="post_pk" value="{{ post.pk }}">
          {% if post|post_upvoted_by_user:user.pk %}
            <a postpk="{{ post.pk }}" url="{% url 'MCPost:upvote_toggle' post.pk %}" id="up-{{ post.pk }}" class="upvote-button vote-toggle-on cursor-pointer" title="This comment is useful" onClick="return false;">upvoted</a>
          {% else %}
            <a postpk="{{ post.pk }}" url="{% url 'MCPost:upvote_toggle' post.pk %}" id="up-{{ post.pk }}" class="upvote-button vote-toggle-off cursor-pointer" title="This comment is useful" onClick="return false;">upvote</a>
          {% endif %}
        {% else %}
          <a class="activate-login-modal-vote cursor-pointer" data-toggle="modal" data-target="#social-auth-modal" title="This comment is useful">upvote</a>
        {% endif %}
        &nbsp;
      </span>

      <!-- downvote button -->
      <span>
        {% if user.is_authenticated %}
          <input type="hidden" name="post_pk" value="{{ post.pk }}">
          {% if post|post_downvoted_by_user:user.pk %}
            <a postpk="{{ post.pk }}" url="{% url 'MCPost:downvote_toggle' post.pk %}" id="down-{{ post.pk }}" class="downvote-button vote-toggle-on cursor-pointer" title="This comment not useful">downvoted</a>
          {% else %}
            <a postpk="{{ post.pk }}" url="{% url 'MCPost:downvote_toggle' post.pk %}" id="down-{{ post.pk }}" class="downvote-button vote-toggle-off cursor-pointer" title="This comment not useful">downvote</a>
          {% endif %}
        {% else %}
          <a class="activate-login-modal-vote cursor-pointer" data-toggle="modal" data-target="#social-auth-modal" title="This comment is not useful">downvote</a>
        {% endif %}
        &nbsp;
      </span>

      {% if user.is_authenticated %}
        <!-- reply button -->
        <span>
          <a class='submit-next-form'>reply</a> &nbsp;
          <form action="{% url 'MCPost:replyPost_editor' %}" class="inline-block" method=POST>
            {% csrf_token %}
            <input type="hidden" name="next-url" value="{{ request.path }}" />
            <input type="hidden" name="header" value="<a>Click to read post you are relying to</a>" />
            <input type="hidden" name="mother-pk" value="{{ post.pk }}" />
          </form>
        </span>

        <!-- edit/delete only shown if user created post) -->
        {% if user.pk == post.user.pk %}
          <!-- edit button -->
          <span>
            <a class='submit-next-form'>edit</a> &nbsp;
            <form action="{% url 'MCPost:editPost_editor' %}" class="inline-block" method=POST>
              {% csrf_token %}
              <input type="hidden" name="post-pk" value="{{ post.pk }}" />
              <input type="hidden" name="next-url" value="{{ request.path }}" />
              <input type="hidden" name="header" value="<h1>Editing your post</h1>" />
            </form>
          </span>

          <!-- delete button -->
          <span>
            <a class='delete-post-button cursor-pointer'>delete</a>
            <div class='delete-post-are-you-sure color-red inline'>
              are you sure?
              <a class='delete-post-yes cursor-pointer'>yes</a>
              <form class="inline-block" action="{% url 'MCPost:deletePost' %}" method=POST>
                {% csrf_token %}
                <input type="hidden" name="post_pk" value="{{ post.pk }}" />
              </form>

              <a class='delete-post-no cursor-pointer'>no</a>
            </div>
            <div class='delete-post-confirmation color-black inline'>deleted</div>
            &nbsp;
          </span>

        {% endif %}


      <!-- if user is not authenticated -->
      {% else %}
        <span>
          <span><a data-toggle="modal" data-target="#social-auth-modal" class="cursor-pointer activate-login-modal-post">reply</a>  &nbsp; </span>
        </span>

      {% endif %}
      <!-- dropdown to select post history -->
      <span>
        <span class="dropdown">
             <a data-toggle="dropdown" class="dropdown-toggle cursor-pointer">history <b class="caret"></b></a> &nbsp;
             <ul class="dropdown-menu">
               {% for recent_post in post.get_undecoded_textTupleVector %}
                 <li class="cursor-pointer li-dropdown-{{post.pk}} li-dropdown-{{post.pk}}-{{forloop.counter}} {% if forloop.last %} active {% endif %}"><a id="action-{{ post.pk }}-{{ forloop.counter }}" >
                   {% if recent_post.3 != post.creator.username %}
                     recent_post.3
                   {% endif %}
                   {% if forloop.counter == 1 %}
                     posted
                   {% else %}
                     edited
                   {% endif %}
                   {{ recent_post.2|age }}
                 </a></li> <!-- time created/edited -->
               {% endfor %}
             </ul>
         </span>
      </span>

      <span>
        <a href="{% url 'MCPost:post_context' post.pk %}">context</a>
      </span>

    </div>
  {% endif %}

</div>
