.cursor-pointer {
  cursor: pointer;
}
.center-text {
  text-align:center;
}

.linkButton {
  background:none!important;
  border:none;
  padding:0!important;
  font-family:arial,sans-serif; /*input has OS specific font-family*/
  color:#069;
  cursor:pointer;
}

.inline-block {
  display: inline-block;
}

.height-100 {
  height:100%
}

.background-color-yellow {
  background-color: #ffc !important;
}
