<!-- this file should be included in template base.html -->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/base-navbar.css' %}">

<nav class="navbar navbar-default navbar-static-top"> <!-- for example navbars, see: https://getbootstrap.com/examples/navbar-fixed-top/ -->
  <div class="container">

      <!-- logo -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Project name</a> <!-- TODO: This should be changed to your website name -->
      </div>

      <!-- left-side navbar -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if navbar_home %}class="active"{% endif %}><a href="#">Home</a></li>
        </ul>

        <!-- right-side navbar -->
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Login</a></li>
        </ul>

    </div>
  </div>
</nav>
